table, tr, td {
    border-collapse: collapse;
}

h1, h4 {
    text-align: center;
}

table {
    margin: auto;
    border: black solid 2px;
}

tr, td {
    border: black solid 1px;
}

td {
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 24px;
}

.untouched {
    background-image: url("square.png");
}

.bomb {
    background-image: url("bomb.png");
}

.flagged {
    background-image: url("Flag.png");
}

.bomb.red {
    background-color: red;
}

.incorrect {
    background-image: url("X.png");
}

